[submodule "bundle/tabman"]
	path = bundle/tabman
	url = http://github.com/kien/tabman.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/magus424/nerdtree.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/functionlist"]
	path = bundle/functionlist
	url = http://github.com/vim-scripts/functionlist.vim.git
[submodule "bundle/css3"]
	path = bundle/css3
	url = http://github.com/hail2u/vim-css3-syntax.git
[submodule "bundle/tcomment"]
	path = bundle/tcomment
	url = http://github.com/tomtom/tcomment_vim
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = http://github.com/pangloss/vim-javascript.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = http://github.com/msanders/snipmate.vim.git
