[submodule "bundle/tabman"]
	path = bundle/tabman
	url = http://github.com/kien/tabman.vim.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = http://github.com/magus424/nerdtree.git
[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
[submodule "bundle/functionlist"]
	path = bundle/functionlist
	url = http://github.com/vim-scripts/functionlist.vim.git
[submodule "bundle/css3"]
	path = bundle/css3
	url = http://github.com/hail2u/vim-css3-syntax.git
